<!DOCTYPE HTML>
<html>
	<head>
		<title>产品展示--兄弟缘鲜花网</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="<?php echo _PUBLIC_; ?>css/common.css">
		<link rel="stylesheet" type="text/css" href="<?php echo _PUBLIC_; ?>css/sidebar.css">
		<link rel="stylesheet" type="text/css" href="<?php echo _PUBLIC_; ?>css/pro.css">
		<script src="<?php echo _PUBLIC_; ?>js/index.js" type="text/javascript"></script>
		<script src="<?php echo _PUBLIC_; ?>js/jquery.min.js" type="text/javascript"></script>
		<script type="text/javascript">
		var timeout         = 500;
		var closetimer		= 0;
		var ddmenuitem      = 0;

		function jsddm_open()
		{	jsddm_canceltimer();
			jsddm_close();
			ddmenuitem = $(this).find('ul').eq(0).css('visibility', 'visible');}

		function jsddm_close()
		{	if(ddmenuitem) ddmenuitem.css('visibility', 'hidden');}

		function jsddm_timer()
		{	closetimer = window.setTimeout(jsddm_close, timeout);}

		function jsddm_canceltimer()
		{	if(closetimer)
			{	window.clearTimeout(closetimer);
				closetimer = null;}}

		$(document).ready(function()
		{	$('#jsddm > li').bind('mouseover', jsddm_open);
			$('#jsddm > li').bind('mouseout',  jsddm_timer);});

		document.onclick = jsddm_close;
		</script>
	</head>
	</head>
	<body>
		<div id="container">
			<!--头部开始-->
			<?php include("./Web/View/Home/Base/header.html"); ?>			
			
			<!--头部结束-->
			<!--主体开始-->
			<div id="main">
				<!--sidebar开始-->
				<div class="sidebar">
					<div class="sidebar_kefu"></div>
					<div class="sidebar_category">
						<div class="sidebar_category_title"><h3>推荐分类</h3></div>
						<div class="sidebar_category_text">
							<ul>
								<h4>按用途</h4>
								<li><a href="">爱情</a></li>
								<li><a href="">开业</a></li>
								<li><a href="">道歉</a></li>
								<li><a href="">商务</a></li>
								<li><a href="">生日</a></li>
								<li><a href="">祝福</a></li>
								<li><a href="">探望</a></li>
								<li><a href="">哀思</a></li>
							</ul>
							
							<ul>
								<h4>按对象</h4>
								<li><a href="">恋人</a></li>
								<li><a href="">父母亲</a></li>
								<li><a href="">同事</a></li>
								<li><a href="">老师</a></li>
								<li><a href="">朋友</a></li>
								<li><a href="">病人</a></li>
								<li><a href="">客户</a></li>
								<li><a href="">领导</a></li>
							</ul>
							
							<ul>
								<h4>按价格</h4>
								<li class="jia"><a href="">100-200</a></li>
								<li class="jia"><a href="">200-300</a></li>
								<li class="jia"><a href="">300-500</a></li>
								<li class="jia"><a href="">500-800</a></li>
								<li class="jia"><a href="">800元以上</a></li>
							</ul>
							<ul>
								<h4>按种类</h4>
								<li><a href="">玫瑰</a></li>
								<li><a href="">百合</a></li>
								<li><a href="">康乃馨</a></li>
								<li><a href="">扶朗</a></li>
								<li><a href="">蛋糕</a></li>
								<li><a href="">花盒</a></li>
								<li><a href="">巧克力</a></li>
								<li><a href="">卡通花</a></li>
							</ul>
						</div>
					</div>
					<div class="sidebar_jilu">
						<div class="sidebar_jilu_title">您的浏览记录</div>
						<div class="sidebar_jilu_text">
							<!--浏览记录循环开始-->
							<div class="sidebar_jilu_xun">
								<div class="jilu_xun_tu"><a href=""><img src="<?php echo _PUBLIC_;?>images/jilu_xun_tu.jpg" width="70" height="70" alt="浏览记录"></a></div>
								<div class="jilu_xun_title"><a href="">因为爱情</a></div>
							</div>
							<div class="sidebar_jilu_xun">
								<div class="jilu_xun_tu"><a href=""><img src="<?php echo _PUBLIC_;?>images/xinpin/xinpin1.jpg" width="70" height="70" alt="浏览记录"></a></div>
								<div class="jilu_xun_title"><a href="">为爱相随</a></div>
							</div>
							<div class="sidebar_jilu_xun">
								<div class="jilu_xun_tu"><a href=""><img src="<?php echo _PUBLIC_;?>images/xinpin/xinpin2.jpg" width="70" height="70" alt="浏览记录"></a></div>
								<div class="jilu_xun_title"><a href="">爱相拥</a></div>
							</div>
							<div class="sidebar_jilu_xun">
								<div class="jilu_xun_tu"><a href=""><img src="<?php echo _PUBLIC_;?>images/rexiao/rexiao2.jpg" width="70" height="70" alt="浏览记录"></a></div>
								<div class="jilu_xun_title"><a href="">浪漫满屋</a></div>
							</div>

							<div class="clear"></div>
							<!--浏览记录循环结束-->
						</div>
					</div>
				</div>
				<!--sidebar结束-->
				<!--产品列表页开始-->
				<div class="main_wraper">
					<div class="wraper_category">
						<ul>
							<li>按　花　材：　<a href="" class="ding">全部</a>
										<a href="">玫瑰</a>
										<a href="">百合</a>
										<a href="">康乃馨</a>
										<a href="">扶郎</a>
										<a href="">向日葵</a>
										<a href="">郁金香</a>
							</li>
							<li>按　颜　色：　<a href="">全部</a>
										<a href="">红色</a>
										<a href="">粉色</a>
										<a href="">白色</a>
										<a href="">黄色</a>
										<a href="">香槟</a>
										<a href="">紫色</a>
										<a href="">蓝色</a>
							</li>
							<li>按　价　格：　<a href="">全部</a>
										<a href="">200元以下</a>
										<a href="">200-300</a>
										<a href="">300-500</a>
										<a href="">500元以上</a>
							</li>
							<li>按　数　量：　<a href="">全部</a>
										<a href="">9枝</a>
										<a href="">11枝</a>
										<a href="">12枝</a>
										<a href="">19枝</a>
										<a href="">33枝</a>
										<a href="">99枝</a>
										<a href="">999枝</a>
							</li>
						</ul>
					</div>
					<div class="wraper_pro">
						<div class="wraper_pro_title">产品分类</div>
						<div class="wraper_pro_tu">
							<!--产品图片循环开始-->
							<?php
								//循环输出商品信息
								foreach($this->goodslist as $goods){
									echo "<div class=\"wraper_pro_tu_xun\">";
									echo "<div class=\"wraper_pro_xun_pic\"><a href=\"".URL."/index/detail?id={$goods['id']}\" target=\"_blank\"><img src=\"" ._PUBLIC_."/uploads/m_{$goods['picname']}\" width=\"175\" height=\"228\"></a></div>";
									echo "<div class=\"wraper_pro_xun_wen\">";
									echo "<ul>";
									echo "<li>{$goods['goods']}</li>";
									echo "<li>现价：￥{$goods['price']}　<font color=\"red\">会员价：￥{$goods['price']}</font></li>";
									echo "<li><a href=\"".URL."/index/detail?id={$goods['id']}\" target=\"_blank\">查看详情</a>　<a href=\"".URL."/Shopping/add?id={$goods['id']}\" target=\"_blank\">加入购物车</a></li>";
									echo "</ul>";
									echo "</div>";
									echo "</div>";
								
								}
							?>
							

							<div class="clear"></div>
							<!--产品图片循环结束-->
						</div>
						<div class="wraper_pro_page">共 <b>466</b> 束鲜花  首页 | 上一页 | <font color="red">1</font> 2 3 4 5 6 7 8 9 | 下一页 | 尾页  <b>12</b>束鲜花/页  转到第<input type="text" value="1" maxlength="5" size="3" name="page">页</div>
					</div>
				</div>
				<!--产品列表页结束-->
				<div class="clear"></div>
			</div>
			<!--主体结束-->
			<!--footer开始-->
			<?php include("./Web/View/Home/Base/footer.html"); ?>
			<!--footer结束-->
		</div>
	</body>
</html>