<!DOCTYPE HTML>
<html>
	<head>
		<title>会员注册--兄弟缘鲜花网</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="<?php echo _PUBLIC_; ?>css/common.css">
		<link rel="stylesheet" type="text/css" href="<?php echo _PUBLIC_; ?>css/register.css">
		<script src="<?php echo _PUBLIC_; ?>js/index.js" type="text/javascript"></script>
		<script src="<?php echo _PUBLIC_; ?>js/jquery.min.js" type="text/javascript"></script>
		<script type="text/javascript">
		var timeout         = 500;
		var closetimer		= 0;
		var ddmenuitem      = 0;

		function jsddm_open()
		{	jsddm_canceltimer();
			jsddm_close();
			ddmenuitem = $(this).find('ul').eq(0).css('visibility', 'visible');}

		function jsddm_close()
		{	if(ddmenuitem) ddmenuitem.css('visibility', 'hidden');}

		function jsddm_timer()
		{	closetimer = window.setTimeout(jsddm_close, timeout);}

		function jsddm_canceltimer()
		{	if(closetimer)
			{	window.clearTimeout(closetimer);
				closetimer = null;}}

		$(document).ready(function()
		{	$('#jsddm > li').bind('mouseover', jsddm_open);
			$('#jsddm > li').bind('mouseout',  jsddm_timer);});

		document.onclick = jsddm_close;
		</script>
	</head>
	</head>
	<body>
		<div id="container">
			<!--头部开始-->
			<?php include("./Web/View/Home/Base/header.html"); ?>	
			<!--头部结束-->
			<!--主体开始-->
			<div id="mainA">
				<center>
        <h2>订单处理</h2>

        <hr/>
        <h3>确认订单信息：2/3</h3>
        <form action="<?php echo URL."/Order/add";?>" method="post">
        <table width="320" border="0">
            <tr>
                <td align="right">收货人：</td>
                <td><input type="text" readonly name="linkman" value="<?php echo $_POST['linkman']; ?>"/></td>
            </tr>
            <tr>
                <td align="right">地址：</td>
                <td><input type="text" readonly name="address"  value="<?php echo $_POST['address']; ?>"/></td>
            </tr>
            <tr>
                <td align="right">联系电话：</td>
                <td><input type="text" readonly name="phone"  value="<?php echo $_POST['phone']; ?>"/></td>
            </tr>
            <tr>
                <td align="right">邮编：</td>
                <td><input type="text" readonly name="code"  value="<?php echo $_POST['code']; ?>"/></td>
            </tr>
            <tr>
                <td align="right">总金额：</td>
                <td><input type="text" readonly value="<?php echo $_SESSION['total']; ?>" /></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="确认订单"/>
                    <input type="button" onclick="window.history.back();" value="返回修改"/>
                </td>
            </tr>
        </table>
        </form>
        <h3>我的购物车信息</h3>
        <table width="700" border="1">
            <tr>
                <th>商品id号</th>
                <th>商品名称</th>
                <th>图片</th>
                <th>单价</th>
                <th>购买数量</th>
                <th>小计</th>
            </tr>
            <?php 
                //输出购物车信息
                $shoplist = $_SESSION['shoplist']; //从购物车session中获取所有商品信息
                if(!empty($shoplist)){
                    //遍历输出
                    $total = 0; //定义总金额
                    foreach($shoplist as $shop){
                        echo "<tr>";
                        echo "<td>{$shop['id']}</td>";
                        echo "<td>{$shop['goods']}</td>";
                        echo "<td><img src='"._PUBLIC_."/uploads/s_{$shop['picname']}'/></td>";
                        echo "<td>{$shop['price']}</td>";
                        echo "<td>{$shop['m']}</td>";
                        echo "<td>".($shop['m']*$shop['price'])."</td>";
                        echo "</tr>";
                        $total += $shop['m']*$shop['price'];  
                    }
                    
                    echo "<tr><th> 总 计：</th><td colspan='5' align='right'>￥ {$total}</td></tr>";
                }
            ?>
        </table>
       </center>
			</div>
			<!--主体结束-->
			<!--footer开始-->
			<?php include("./Web/View/Home/Base/footer.html"); ?>
			<!--footer结束-->
		</div>
	</body>
</html>