			<!--footer开始-->
			<div id="footer">
				<div class="footer_help">
					<ul>
						<h3>新手指南</h3>
						<li><a href="">用户服务协议</a></li>
						<li><a href="">积分及虚拟货币</a></li>
						<li><a href="">购物流程</a></li>
						<li><a href="">鲜花配送范围</a></li>
					</ul>
					<ul class="xian"></ul>
					<ul>
						<h3>如何付款</h3>
						<li><a href="">支付说明</a></li>
						<li><a href="">货到付款</a></li>
						<li><a href="">银行汇款说明</a></li>
						<li><a href="">在线支付</a></li>
					</ul>
					<ul class="xian"></ul>
					<ul>
						<h3>配送方式</h3>
						<li><a href="">配送说明</a></li>
						<li><a href="">鲜花范围</a></li>
						<li><a href="">2月14日情人节鲜花</a></li>
						<li><a href="">配送声明</a></li>
						<li><a href="">9月10日教师节鲜花</a></li>
					</ul>
					<ul class="xian"></ul>
					<ul>
						<h3>售后服务</h3>
						<li><a href="">售后服务</a></li>
						<li><a href="">订单查询</a></li>
					</ul>
					<ul class="xian"></ul>
					<ul>
						<h3>相关知识</h3>
						<li><a href="">朵数含义</a></li>
						<li><a href="">鲜花物语</a></li>
						<li><a href="">节日送花寓意</a></li>
						<li><a href="">蛋糕订购说明</a></li>
					</ul>
					<ul class="xian"></ul>
					<ul>
						<h3>服务热线</h3>
						<li>免长途费 24小时服务</li>
						<li class="tel">400-123-4567</li>
						<li>24小时在线咨询企业QQ</li>
						<li class="qq">1234-567-890</li>
					</ul>
					<div class="clear"></div>
				</div>
				<div class="footer_tu"></div>
				<div class="footer_link">
					<a href="">网站首页</a> |
					<a href="">关于我们</a> |
					<a href="">城市专题</a> |
					<a href="">团购合作</a> |
					<a href="">订花地图</a> |
					<a href="">订花百科</a> |
					<a href="">网上送花常识</a> |
					<a href="">鲜花店加盟</a> |
					<a href="">给我留言</a> |
					<a href="">帮助中心</a> |
					<a href="">联系我们</a>
				</div>
				<div class="footer_friend">
					<b>新开鲜花店：</b>北京花店　上海花店　浙江花店　江苏花店　安徽花店　福建花店　广州花店　河北花店　天津花店　吉林花店　河北花店　山东花店　广东花店　广西花店<br>
					<b>各省鲜花店：</b>河南　广东 湖南　四川　江苏　浙江　福建　云南　吉林　湖北　陕西　山西　山东　内蒙古　甘肃　宁夏　贵州　西藏　广西　青海　辽宁　天津　上海<br>
					<b>友情链接：</b>中国礼品鲜花网　兄弟缘鲜花网　兄弟送花　兄弟鲜花　北京送花　上海送花　浙江送花　花店网址导航　北京鲜花速度　圣诞节礼物　天津送花　广东送花
				</div>
				<div class="footer_beian"></div>
				<div class="footer_contact">
					<strong>兄弟缘关键字：兄弟缘鲜花网　兄弟鲜花　北京送花　上海送花　浙江送花　鲜花预定　鲜花商城　网上送花　鲜花速递　异地订花　</strong><br>
					7×24小时均可网上订花，正常配送时间：8:30-21:00（晚上仅限市区）。<br>
					Copyright @ 2014-2019 All rights reserved. 全国服务热线：400-123-4567<br>
					兄弟缘-版权所有,禁止非法复制
				</div>
			</div>
			<!--footer结束-->
